* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
}

/*Navbar*/

nav {
    background-color: #47596b;
    height: 80px;
}

#container-1 {
    display: flex;
    height: 80px;
}

#logo {
    padding: 0 2px;
    margin: 2px 2px;
    /* border: 2px solid blue; */
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    letter-spacing: 4px;
    position: absolute;
    top: 19px;
    left: 10px;
}

#logo > a {
    text-decoration: none;
    color: white;
}

#nav-elements {
    display: flex;
    /* border: 2px solid red; */
}

#nav-elements > ul {
    display: flex;
    list-style: none;
    margin: 2px 2px;
    /* border: 2px solid green; */
    padding: 0 2px;
    position: relative;
    left: 600px;
    top: 0px;
}

#nav-elements > ul > li {
    margin: 7px 12px;
    padding: 14px 20px;
    font-size: 1.5rem;
    font-family: "Noto Sans JP", sans-serif;
    border-radius: 4px;
}

#nav-elements > ul > li:hover {
    background-color: #48636b;
}

#nav-elements > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}

#search {
    position: absolute;
    top: 26px;
    right: 9px;
    /* border: 2px solid yellow; */
    font-size: 1.4em;
    font-family: "Commissioner", sans-serif;
}

#search > img {
    height: 30px;
    width: 30px;
    filter: invert(100%);
}

#search-bar {
    margin: 2px 2px;
    border-radius: 1px;
    border-color: #47596b;
    box-shadow: none;
    position: relative;
    font-size: 1rem;
    font-family: "Noto Sans JP", sans-serif;
    padding: 2px 2px;
    bottom: 2px;
}


/* Dropdown */
.dropbtn {
    font-family: "Commissioner", sans-serif;
    border: none;
    font-size: 1.4rem;
    left: 600px;
    text-decoration: none;
    margin: 7px 12px;
    padding: 14px 20px;
    color: white;
    border-radius: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #000000;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 16px 15px;
    text-decoration: none;
    display: block;
    font-size: 1rem
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* welcome Section*/

.container-2 {
    text-align: center;
    height: 500px;
    width: 100%;
}

.container-2::before {
    content: "";
    background-image: url("../Images/Main%20page%20.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.5;
}

#welcome-section-heading {
    color: #372c6b;
    font-size: 4rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Open Sans', sans-serif;
}

#welcome-section-heading-slogan {
    color: #372c6b;
    font-size: 2.5rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Open Sans', sans-serif;
}