* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
}

nav {
    background-color: #47596b;
    height: 80px;
}

#container-1 {
    display: flex;
    height: 80px;
}

#logo {
    padding: 0 2px;
    margin: 2px 2px;
    /* border: 2px solid blue; */
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    letter-spacing: 4px;
    position: absolute;
    top: 19px;
    left: 10px;
}

#logo>a {
    text-decoration: none;
    color: white;
}

#nav-elements {
    display: flex;
    /* border: 2px solid red; */
}

#nav-elements>ul {
    display: flex;
    list-style: none;
    margin: 2px 2px;
    /* border: 2px solid green; */
    padding: 0 2px;
    position: relative;
    left: 600px;
    top: 0px;
}

#nav-elements>ul>li {
    margin: 7px 12px;
    padding: 14px 20px;
    font-size: 1.5rem;
    font-family: "Noto Sans JP", sans-serif;
    border-radius: 4px;
}

#nav-elements>ul>li:hover {
    background-color: #48636b;
}

#nav-elements>ul>li>a {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}

#search {
    position: absolute;
    top: 26px;
    right: 9px;
    /* border: 2px solid yellow; */
    font-size: 1.4em;
    font-family: "Commissioner", sans-serif;
}

#search>img {
    height: 30px;
    width: 30px;
    filter: invert(100%);
}

#search-bar {
    margin: 2px 2px;
    border-radius: 1px;
    border-color: #47596b;
    box-shadow: none;
    position: relative;
    font-size: 1rem;
    font-family: "Noto Sans JP", sans-serif;
    padding: 2px 2px;
    bottom: 2px;
}


/* Dropdown Button */
.dropbtn {
    font-family: "Commissioner", sans-serif;
    border: none;
    font-size: 1.4rem;
    left: 600px;
    text-decoration: none;
    margin: 7px 12px;
    padding: 14px 20px;
    color: white;
    border-radius: 4px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 16px 15px;
    text-decoration: none;
    display: block;
    font-size: 1rem
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #48636b;} */


/* Main Page (Parallax effect) */

