* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-family: "Libre Franklin",
        Helvetica,
        Arial,
        sans-serif;
    letter-spacing: 4px;
}

/*Navbar*/

nav {
    height: 80px;
    z-index: 2;
    background-color: #363643;
}

#container-1 {
    display: flex;
    height: 85vh;
}

#logo {
    padding: 0 2px;
    margin: 2px 2px;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
    letter-spacing: 4px;
    position: absolute;
    top: 19px;
    left: 10px;
}

#logo > a {
    text-decoration: none;
    color: white;
}

#nav-elements {
    display: flex;
}

#nav-elements > ul {
    display: flex;
    list-style: none;
    margin: 2px 2px;
    /* border: 2px solid green; */
    padding: 0 2px;
    position: relative;
    left: 130%;
    top: 0px;
}

#nav-elements > ul > li {
    margin: 7px 5px;
    padding: 14px 20px;
    font-family: "Noto Sans JP", sans-serif;
    border-radius: 4px;
    line-height: 1.5;
    font-size: 23px;
    font-weight: 400;
    height: 29px;
}

#nav-elements > ul > li:hover {
    color: #F3DE8A;
}

#nav-elements > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}

#search {
    position: absolute;
    top: 26px;
    right: 2px;
    font-size: 1.4em;
    font-family: "Commissioner", sans-serif;
}

#search > img {
    height: 30px;
    width: 30px;
    filter: invert(100%);
    outline: 0;

}

#search-bar {
    margin: 2px 2px;
    outline: 0;
    box-shadow: none;
    position: relative;
    font-size: 1rem;
    font-family: "Noto Sans JP", sans-serif;
    padding: 2px 2px;
    bottom: 15px;
    text-shadow: none;
    opacity: 0.8;
}

.search-icon {
    position: relative;
    height: 35px;
    width: 35px;
    bottom: 3px;
    filter: invert(100%);
}

/* Main Section*/

.container-2 {
    text-align: center;
    height: 100vh;
    width: 100%;
}

#welcome-section-heading {
    color: #372c6b;
    font-size: 4rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Open Sans", sans-serif;
}

#welcome-section-heading-slogan {
    color: #372c6b;
    font-size: 2.5rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Open Sans", sans-serif;
}

/* Brach section */