#nav-elements>ul {
    left: 285%;
}
.container{
    padding: 40px 0px;
    text-align: center;
}
.footer-distributed .footer-left{
    padding: 0;
}
.footer-distributed .footer-center {
    width: 25%;
    padding: 0;
}
.footer-distributed .footer-center {
    padding-left: 116px;
    padding-right: 20px;
    margin-top: 0;
}
.footer-distributed .footer-center p span {
    font-size: 20px;
}
.footer-distributed .footer-right {
    padding-left: 102px;
}
.footer-distributed .footer-center p{
    margin-top: -3px;
}
.footer-distributed .footer-company-about{
    margin-top: 5px;

}