#nav-elements>ul {
    left: 218%;
}

.heading {
    padding-left: 5px;
}

.cse-head {
    padding-left: 0;
}

.it-head {
    padding-left: 0;
}

.ece-head {
    padding-left: 0;
}

.mechanical-head {
    padding-left: 0;
}

.branch-sub>* {
    padding: 0px 8px;
}


.footer-distributed .footer-left {
    padding-left: 1%;

}

.footer-distributed .footer-center {
    padding-left: 93px;
}

.footer-distributed .footer-company-about {
    margin-top: 8px;
    padding-left: 100px;
}