#nav-elements {
    height: 80px;
}

#nav-elements>ul {
    left: 258%;
}

#welcome-section-heading-slogan {
    left: 27.5%;
}


.branch-sub>* {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 10px;
}

.container-2 {
    height: 88vh;
}

.welcome-image-section {
    height: 88vh
}

.welcome-image {
    height: 88vh
}

.branch-sub {
    padding: 35px 20px;
    padding-left: 62px;

    
}

.branch-sub>* {
    padding: 0 0 0 0;
}

.footer-distributed .footer-company-name {
    font-size: 14px;
}

.footer-left {
    padding: 0% 2.5% 0% 0%;
}

.footer-distributed .footer-right {
    width: 32%;
}

.footer-distributed .footer-center {
    padding: 0px 0px 10px 80px;
}

.footer-distributed .footer-company-about {
    padding: 10px 0px 0px 60px;
}
